/* line 3, styles.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

/* HEADERS/COPY */
/* line 13, styles.scss */
h1 {
  margin: 5px;
  padding: 0;
  clear: both;
  line-height: 1.25;
  font-family: 'Rokkitt', serif;
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  /* line 13, styles.scss */
  h1 {
    font-size: 3rem;
  }
}

/* line 26, styles.scss */
h1, h2 {
  text-transform: uppercase;
}

/* line 31, styles.scss */
h2, h3, h4 {
  padding: 0;
  clear: both;
  line-height: 1.25;
  font-family: 'Roboto Slab', serif;
}

/* line 38, styles.scss */
h3, h4 {
  font-weight: 300;
}

/* line 42, styles.scss */
h2 {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  /* line 42, styles.scss */
  h2 {
    font-size: 2.6rem;
  }
}

/* line 50, styles.scss */
h3 {
  font-size: 2.8;
}
@media screen and (max-width: 768px) {
  /* line 50, styles.scss */
  h3 {
    font-size: 2.2rem;
  }
}

/* line 58, styles.scss */
h5 {
  margin: 5px;
  padding: 0;
  clear: both;
  line-height: 1.25;
  font-family: 'Rokkitt', serif;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  /* line 58, styles.scss */
  h5 {
    font-size: 1.4rem;
  }
}

/* line 71, styles.scss */
p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  /* line 71, styles.scss */
  p {
    font-size: 1.3rem;
  }
}

/* line 83, styles.scss */
a {
  color: #333;
}

/* line 87, styles.scss */
a:hover {
  color: #333;
  text-decoration: underline;
}

/* line 92, styles.scss */
dt {
  margin: 3px 0;
  font-size: 1.8rem;
}

/* line 97, styles.scss */
dd {
  margin-bottom: 30px;
  font-size: 1.6rem;
}

/* line 102, styles.scss */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  /* line 102, styles.scss */
  .section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

/* line 112, styles.scss */
.border {
  width: 100%;
  height: 16px;
  background-position: left top;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 122, styles.scss */
.btnWrapper {
  margin: 0 auto;
  display: block;
}
/* line 126, styles.scss */
.btnWrapper .btn {
  float: left;
}
/* line 130, styles.scss */
.btnWrapper .btn:first-child {
  margin-right: 10px;
}

/* line 135, styles.scss */
.btn {
  padding: 8px 12px;
  border-radius: 0;
  font-weight: 300;
  background-color: transparent;
  margin: 0 auto;
  font-family: 'Rokkitt', serif;
  border: 3px solid #333;
  color: #333;
  text-transform: uppercase;
  padding: 10px;
  font-size: 2.4rem;
  text-align: center;
  line-height: 1;
  background-color: #edeceb;
}

/* line 152, styles.scss */
.btn.blue {
  background-color: #0084a5;
  color: #FFF;
  border: none;
}

/* line 158, styles.scss */
.btn.facebook {
  background-color: #4da6c9;
  color: #FFF;
  border: none;
}

/* line 164, styles.scss */
.footnote {
  font-size: 1.2rem;
  margin-top: 30px;
  padding: 0 12px;
}

/***********************/
/********* NAV ********/
/*********************/
/* line 175, styles.scss */
nav {
  position: relative;
  z-index: 2;
}
/* line 179, styles.scss */
nav .navbar {
  margin-bottom: 0;
  text-align: center;
  box-shadow: 3px 3px #444;
}
/* line 184, styles.scss */
nav .navbar li {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 184, styles.scss */
  nav .navbar li {
    display: block;
    text-align: right;
  }
}
/* line 194, styles.scss */
nav #navWrapper {
  height: 120px;
  display: inline-block;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  /* line 194, styles.scss */
  nav #navWrapper {
    height: 90px;
  }
}
@media screen and (max-width: 768px) {
  /* line 194, styles.scss */
  nav #navWrapper {
    height: auto;
    float: right;
  }
}
/* line 208, styles.scss */
nav #navWrapper .additional {
  position: absolute;
  right: 30px;
  top: 15px;
  display: block;
  font-family: 'Rokkitt', serif;
  font-size: 1.6rem;
}
/* line 216, styles.scss */
nav #navWrapper .additional a {
  padding: 0 5px;
}
/* line 222, styles.scss */
nav #logo {
  width: 300px;
  height: 188px;
  background: url(../images/bg-logo.png) top center no-repeat;
  background-size: contain;
  padding-top: 40px;
}
@media screen and (max-width: 991px) {
  /* line 222, styles.scss */
  nav #logo {
    width: 219.75px;
    height: 141px;
    padding-top: 30px;
  }
}
/* line 235, styles.scss */
nav #logo a {
  background: url(../images/logo.svg) center center no-repeat;
  width: 252px;
  height: 92px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  /* line 235, styles.scss */
  nav #logo a {
    width: 189px;
    height: 69px;
  }
}
/* line 249, styles.scss */
nav .navbar-default .navbar-nav {
  margin: 0 auto;
  font-size: 1.8rem;
  font-family: 'Rokkitt', serif;
}
/* line 254, styles.scss */
nav .navbar-default .navbar-nav li:not(#logo) {
  padding: 50px 0 40px;
  min-width: 140px;
}
@media screen and (max-width: 991px) {
  /* line 254, styles.scss */
  nav .navbar-default .navbar-nav li:not(#logo) {
    padding: 35px 0 20px;
    min-width: 110px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 254, styles.scss */
  nav .navbar-default .navbar-nav li:not(#logo) {
    padding: 0;
  }
}
/* line 269, styles.scss */
nav .navbar-default .navbar-nav li a {
  color: #333;
}
/* line 273, styles.scss */
nav .navbar-default .navbar-nav li a:hover {
  text-decoration: underline;
}
/* line 278, styles.scss */
nav .navbar-toggle {
  border-radius: 0;
  border: none;
  margin-right: 0;
}
/* line 284, styles.scss */
nav .navbar-default .navbar-toggle .icon-bar {
  background-color: #333;
}

/***********************/
/********  FORM  ******/
/*********************/
/* line 295, styles.scss */
.form-group {
  border: 1px solid #333;
  padding: 5px 10px;
  margin: 0;
  float: left;
  width: 100%;
}
/* line 302, styles.scss */
.form-group label {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 1.3rem;
}
/* line 309, styles.scss */
.form-group input {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: none;
  height: auto;
}

/***********************/
/********  HERO  ******/
/*********************/
/* line 325, styles.scss */
#hero {
  background: url(../images/bg-boxers.jpg) center center no-repeat;
  background-size: cover;
  color: #FFF;
  text-align: center;
  position: relative;
}
/* line 332, styles.scss */
#hero h1 {
  display: inline-block;
  padding: 10px 12px;
  border: 3px solid #FFF;
  margin-bottom: 10px;
}
/* line 339, styles.scss */
#hero .border {
  background-image: url(../images/bg-sky-border.png);
}

/***********************/
/******** PLANS *******/
/*********************/
/* line 348, styles.scss */
#plans {
  background: url(../images/bg-sky.jpg) top center no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFF;
  position: relative;
}
/* line 355, styles.scss */
#plans .border {
  background-image: url(../images/bg-stripe-border.png);
}

/* line 361, styles.scss */
#tickets a {
  text-decoration: none;
  cursor: pointer;
}
/* line 366, styles.scss */
#tickets .ticket {
  width: 290px;
  height: 623px;
  background-resize: contain;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 80px;
  display: block;
  margin: 50px auto 0;
  position: relative;
}
/* line 377, styles.scss */
#tickets .ticket h4 {
  max-width: 258px;
  height: 65px;
  background-resize: contain;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
/* line 387, styles.scss */
#tickets .ticket p {
  max-width: 258px;
  color: #333;
  margin: 15px auto;
  text-align: left;
  line-height: 1.5;
  font-size: 1.5rem;
}
/* line 396, styles.scss */
#tickets .ticket .stamp {
  position: absolute;
  width: 100%;
  height: 103px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 169px 103px;
  bottom: 100px;
  left: 0;
  opacity: .6;
}
/* line 408, styles.scss */
#tickets .ticket .clip {
  position: absolute;
  width: 72px;
  height: 111px;
  background-position: center center;
  background-repeat: no-repeat;
  top: -40px;
  left: 120px;
}
/* line 418, styles.scss */
#tickets .ticket .breakdown {
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}
/* line 429, styles.scss */
#tickets .ticket .bottom {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
}
/* line 435, styles.scss */
#tickets .ticket .bottom .btn {
  background-color: transparent;
  margin: 0 auto;
}
/* line 442, styles.scss */
#tickets #economy.ticket {
  background-image: url(../images/ticket-economy.svg);
}
/* line 445, styles.scss */
#tickets #economy.ticket h4 {
  background-image: url(../images/title-economy.svg);
}
/* line 449, styles.scss */
#tickets #economy.ticket .stamp {
  background-image: url(../images/stamp-economy.png);
}
/* line 453, styles.scss */
#tickets #economy.ticket .clip {
  background-image: url(../images/clip-economy.png);
}
/* line 458, styles.scss */
#tickets #business.ticket {
  background-image: url(../images/ticket-business.svg);
}
/* line 461, styles.scss */
#tickets #business.ticket h4 {
  background-image: url(../images/title-business.svg);
}
/* line 465, styles.scss */
#tickets #business.ticket .stamp {
  background-image: url(../images/stamp-business.png);
}
/* line 469, styles.scss */
#tickets #business.ticket .clip {
  background-image: url(../images/clip-business.png);
}
/* line 474, styles.scss */
#tickets #first.ticket {
  background-image: url(../images/ticket-first.svg);
}
/* line 477, styles.scss */
#tickets #first.ticket h4 {
  background-image: url(../images/title-first.svg);
}
/* line 481, styles.scss */
#tickets #first.ticket .stamp {
  background-image: url(../images/stamp-first.png);
}
/* line 485, styles.scss */
#tickets #first.ticket .clip {
  background-image: url(../images/clip-first.png);
}
/* line 490, styles.scss */
#tickets .subscription {
  max-width: 258px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../images/bg-pricing.png);
  background-repeat: repeat-x;
  display: block;
  margin: 15px auto;
  padding: 8px;
  color: #333;
  font-size: 2rem;
}
/* line 502, styles.scss */
#tickets .subscription .pricing {
  text-align: center;
  font-weight: bold;
}

/***********************/
/********* WHY ********/
/*********************/
/* line 513, styles.scss */
#why {
  background: url(../images/bg-stripes.png);
  text-align: center;
  color: #333;
  position: relative;
}
/* line 519, styles.scss */
#why img {
  margin-top: 80px;
  width: 100%;
  max-width: 290px;
}
/* line 525, styles.scss */
#why ul {
  margin-top: 50px;
}
/* line 528, styles.scss */
#why ul li {
  height: 90px;
  text-align: left;
  background-position: center left;
  background-repeat: no-repeat;
  list-style-type: none;
  line-height: 90px;
  padding-left: 110px;
  margin-bottom: 30px;
  font-size: 1.8rem;
}
/* line 541, styles.scss */
#why li#trips {
  background-image: url(../images/icon-trips.svg);
}
/* line 545, styles.scss */
#why li#laundry {
  background-image: url(../images/icon-laundry.svg);
}
/* line 549, styles.scss */
#why li#time {
  background-image: url(../images/icon-time.svg);
}
/* line 553, styles.scss */
#why .border {
  background-image: url(../images/bg-blue-border.png);
}

/***********************/
/******** HOW TO ******/
/*********************/
/* line 562, styles.scss */
#hero-howto {
  background: url(../images/bg-sky.jpg) top center no-repeat;
  background-size: cover;
  color: #333;
  text-align: center;
  position: relative;
  /*min-height: 1750px;*/
}

/* line 571, styles.scss */
#howto {
  background-color: #0084a5;
  color: #FFF;
  text-align: center;
}
/* line 576, styles.scss */
#howto h2 {
  text-align: center;
  margin-top: 50px;
}
/* line 585, styles.scss */
#howto .icon {
  float: left;
  display: block;
  width: 120px;
  height: 76px;
  background-size: 120px 76px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 20px;
}
/* line 596, styles.scss */
#howto .step {
  text-align: left;
}
@media screen and (max-width: 768px) {
  /* line 596, styles.scss */
  #howto .step {
    margin-bottom: 20px;
  }
}
/* line 605, styles.scss */
#howto #step-select .icon {
  background-image: url(../images/icon-select.svg);
}
/* line 609, styles.scss */
#howto #step-policy .icon {
  background-image: url(../images/icon-plane.svg);
}
/* line 613, styles.scss */
#howto #step-switch .icon {
  background-image: url(../images/icon-switch.svg);
}
/* line 617, styles.scss */
#howto #step-best .icon {
  background-image: url(../images/icon-thumbsup.svg);
}

/***********************/
/***** TESTIMONIAL ****/
/*********************/
/* line 626, styles.scss */
#testimonial {
  background: #0f7194;
  color: #FFF;
  text-align: center;
  line-height: 1.75;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 634, styles.scss */
#testimonial p {
  font-size: 2.2rem;
}
/* line 638, styles.scss */
#testimonial .quoter {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  clear: both;
}

/***********************/
/******** ORDER *******/
/*********************/
/* line 650, styles.scss */
#order {
  background: url(../images/bg-sky.jpg) top center no-repeat;
  background-size: cover;
  color: #FFF;
  text-align: center;
  position: relative;
  /*min-height: 1750px;*/
}
/* line 658, styles.scss */
#order h1 {
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid #FFF;
  margin-bottom: 20px;
}
/* line 665, styles.scss */
#order #steps {
  display: inline-block;
  margin: 50px auto 30px;
  padding: 0;
}
/* line 670, styles.scss */
#order #steps li {
  list-style-type: none;
  display: block;
  float: left;
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  /* line 670, styles.scss */
  #order #steps li {
    padding-top: 0;
  }
}
/* line 680, styles.scss */
#order #steps li .step {
  width: 100%;
  max-width: 70px;
  height: 70px;
  background-color: #333;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
/* line 692, styles.scss */
#order #steps li .step .icon {
  width: 70px;
  height: 70px;
  display: block;
  background-size: 36px 36px;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */
}
/* line 705, styles.scss */
#order #steps li .title {
  clear: both;
  margin-top: 15px;
  display: block;
  color: #333;
}
/* line 713, styles.scss */
#order #steps li.active {
  background: url(../images/steps-plane.svg) top center/60px 36px no-repeat;
}
@media screen and (max-width: 768px) {
  /* line 713, styles.scss */
  #order #steps li.active {
    background-image: none;
  }
}
/* line 721, styles.scss */
#order #steps li.bar {
  height: 105px;
  border-bottom: 2px dashed #333;
  float: left;
  width: 120px;
}
@media screen and (max-width: 768px) {
  /* line 721, styles.scss */
  #order #steps li.bar {
    border: none;
    width: 80px;
  }
}
/* line 733, styles.scss */
#order #steps li.bar.filled {
  border-bottom: 2px solid #333;
}
/* line 738, styles.scss */
#order #steps li.active .step {
  border: 2px solid #fff;
}
/* line 744, styles.scss */
#order #steps #step-select .icon {
  background-image: url(../images/icon-cart.svg);
}
/* line 750, styles.scss */
#order #steps #step-shipping .icon {
  background-image: url(../images/icon-card.svg);
}
/* line 756, styles.scss */
#order #steps #step-review .icon {
  background-image: url(../images/icon-receipt.svg);
}
/* line 762, styles.scss */
#order #billingInfo {
  display: none;
}
/* line 766, styles.scss */
#order button[type="submit"] {
  display: block;
  background-color: #edeceb;
}
/* line 771, styles.scss */
#order #shipping, #order #review {
  display: none;
}

/***********************/
/******* ACCOUNT ******/
/*********************/
/* line 780, styles.scss */
#account {
  background: url(../images/bg-sky.jpg) top center no-repeat;
  background-size: cover;
  color: #FFF;
  text-align: center;
  position: relative;
}

/***********************/
/******* FORMS *******/
/*********************/
/* line 795, styles.scss */
.formWrapper {
  background-color: #edeceb;
  border: 3px solid #333;
  color: #333;
  overflow: hidden;
  margin: 25px 0;
  text-align: left;
}
/* line 803, styles.scss */
.formWrapper .errorBar {
  background-color: #ef323f;
  padding: 15px;
  display: none;
}
/* line 808, styles.scss */
.formWrapper .errorBar p {
  color: white;
  line-height: 1;
  margin: 0;
}
/* line 815, styles.scss */
.formWrapper h2 {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 2.6rem;
  margin: 0;
  padding: 10px;
}
/* line 824, styles.scss */
.formWrapper .form-group.error {
  border: 1px solid #ef323f;
}
/* line 828, styles.scss */
.formWrapper .fieldFirstName {
  width: 50%;
}
/* line 832, styles.scss */
.formWrapper .fieldLastName {
  width: 50%;
}
/* line 836, styles.scss */
.formWrapper .fieldCity {
  width: 50%;
}
/* line 840, styles.scss */
.formWrapper .fieldState {
  width: 20%;
}
/* line 844, styles.scss */
.formWrapper .fieldZip {
  width: 30%;
}
/* line 848, styles.scss */
.formWrapper .fieldExp {
  width: 50%;
}
/* line 852, styles.scss */
.formWrapper .fieldCVC {
  width: 50%;
}
/* line 856, styles.scss */
.formWrapper .fieldBillSame {
  padding-top: 30px;
  padding-bottom: 15px;
}
/* line 861, styles.scss */
.formWrapper .fieldEmail {
  width: 50%;
}
/* line 865, styles.scss */
.formWrapper .fieldPassword {
  width: 50%;
}

/***********************/
/********* JOIN *******/
/*********************/
/* line 876, styles.scss */
.joinForm h4 {
  margin: 0 0 10px 0;
}
/* line 880, styles.scss */
.joinForm input {
  border: 0;
  padding: 7px;
  font-size: 1.6rem;
  margin-right: 5px;
  width: 80%;
  max-width: 250px;
  display: inline-block;
}
/* line 890, styles.scss */
.joinForm .btn {
  padding: 11px;
  border: 0;
  color: #FFF;
  font-size: 1.6rem;
  line-height: 0;
  margin-top: -4px;
  display: inline-block;
}
/* line 900, styles.scss */
.joinForm .joinWrapper {
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  /* line 900, styles.scss */
  .joinForm .joinWrapper {
    text-align: center;
  }
}

/***********************/
/******* FOOTER *******/
/*********************/
/* line 915, styles.scss */
footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background: url(../images/bg-fabric.png);
  color: #FFF;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 915, styles.scss */
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* line 927, styles.scss */
footer .triangle {
  width: 100%;
  background: url(../images/bg-triangle.png) top center no-repeat;
  height: 39px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 936, styles.scss */
footer .copyright {
  text-align: center;
  width: 100%;
  display: block;
  margin: 30px auto 10px;
}
/* line 943, styles.scss */
footer h4 {
  text-align: left;
}
@media screen and (max-width: 768px) {
  /* line 943, styles.scss */
  footer h4 {
    text-align: center;
  }
}
/* line 951, styles.scss */
footer ul {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 951, styles.scss */
  footer ul {
    margin-bottom: 25px;
  }
}
/* line 959, styles.scss */
footer ul li {
  list-style-type: none;
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  /* line 959, styles.scss */
  footer ul li {
    text-align: center;
  }
}
/* line 969, styles.scss */
footer a {
  color: #FFF;
}
/* line 973, styles.scss */
footer a:hover {
  color: #FFF;
  text-decoration: underline;
}

/***********************/
/******** MODAL *******/
/*********************/
/* line 983, styles.scss */
.modal-dialog {
  max-width: 400px;
}
/* line 986, styles.scss */
.modal-dialog .modal-content {
  border-radius: 0;
  overflow: hidden;
  background-color: #edeceb;
}
/* line 991, styles.scss */
.modal-dialog .modal-content .modal-header {
  background-color: #333;
}
/* line 994, styles.scss */
.modal-dialog .modal-content .modal-header h4, .modal-dialog .modal-content .modal-header a {
  color: #FFF;
}
/* line 999, styles.scss */
.modal-dialog .modal-content .btn {
  margin-top: 10px;
}
/* line 1004, styles.scss */
.modal-dialog .close {
  color: #FFF;
  text-shadow: none;
}

/***********************/
/********* ABOUT ******/
/*********************/
/***********************/
/********* FAQ ********/
/*********************/
/* line 1024, styles.scss */
#faq h3 {
  margin-top: 40px;
}

/***********************/
/******* CONATCT ******/
/*********************/
/***********************/
/********* SUB ********/
/*********************/
/* line 1042, styles.scss */
.sub {
  background: url(../images/bg-stripes.png);
  padding-bottom: 100px;
}

/***********************/
/******** SVG  ********/
/*********************/
/* line 1054, styles.scss */
.no-svg nav #logo a {
  background: url(../images/logo.png) center center no-repeat;
}
/* line 1061, styles.scss */
.no-svg #tickets #economy.ticket {
  background-image: url(../images/ticket-economy.png);
}
/* line 1064, styles.scss */
.no-svg #tickets #economy.ticket h4 {
  background-image: url(../images/title-economy.png);
}
/* line 1069, styles.scss */
.no-svg #tickets #business.ticket {
  background-image: url(../images/ticket-business.png);
}
/* line 1072, styles.scss */
.no-svg #tickets #business.ticket h4 {
  background-image: url(../images/title-business.png);
}
/* line 1077, styles.scss */
.no-svg #tickets #first.ticket {
  background-image: url(../images/ticket-first.png);
}
/* line 1080, styles.scss */
.no-svg #tickets #first.ticket h4 {
  background-image: url(../images/title-first.png);
}
/* line 1087, styles.scss */
.no-svg #why li#trips {
  background-image: url(../images/icon-trips.png);
}
/* line 1091, styles.scss */
.no-svg #why li#laundry {
  background-image: url(../images/icon-laundry.png);
}
/* line 1095, styles.scss */
.no-svg #why li#time {
  background-image: url(../images/icon-time.png);
}
/* line 1101, styles.scss */
.no-svg #howto #step-select .icon {
  background-image: url(../images/icon-select.png);
}
/* line 1105, styles.scss */
.no-svg #howto #step-policy .icon {
  background-image: url(../images/icon-plane.png);
}
/* line 1109, styles.scss */
.no-svg #howto #step-switch .icon {
  background-image: url(../images/icon-switch.png);
}
/* line 1113, styles.scss */
.no-svg #howto #step-best .icon {
  background-image: url(../images/icon-thumbsup.png);
}
/* line 1121, styles.scss */
.no-svg #order #steps #step-select .icon {
  background-image: url(../images/icon-cart.png);
}
/* line 1127, styles.scss */
.no-svg #order #steps #step-shipping .icon {
  background-image: url(../images/icon-card.png);
}
/* line 1133, styles.scss */
.no-svg #order #steps #step-review .icon {
  background-image: url(../images/icon-receipt.png);
}
