$red: #ef323f;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}


/* HEADERS/COPY */

h1 {
    margin: 5px;
    padding: 0;
    clear: both;
    line-height: 1.25;
    font-family: 'Rokkitt', serif;
    font-size: 4rem;

    @media screen and (max-width: 768px) {
        font-size: 3rem;
    }
}

h1, h2 {
    text-transform: uppercase;
}


h2, h3, h4 {
    padding: 0;
    clear: both;
    line-height: 1.25;
    font-family: 'Roboto Slab', serif;
}

h3, h4 {
    font-weight: 300;
}

h2 {
    font-size: 3rem;

    @media screen and (max-width: 768px) {
        font-size: 2.6rem;
    }
}

h3 {
    font-size: 2.8;

     @media screen and (max-width: 768px) {
        font-size: 2.2rem;
    }
}

h5 {
    margin: 5px;
    padding: 0;
    clear: both;
    line-height: 1.25;
    font-family: 'Rokkitt', serif;
    font-size: 1.6rem;

    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
    }
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 20px 0;

    @media screen and (max-width: 768px) {
        font-size: 1.3rem;
    }
}

a {
    color: #333;
}

    a:hover {
        color: #333;
        text-decoration: underline;
    }

dt {
    margin: 3px 0;
    font-size: 1.8rem;
}

dd {
    margin-bottom: 30px;
    font-size: 1.6rem;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (max-width: 768px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.border {
    width: 100%;
    height: 16px;
    background-position: left top;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    bottom: 0;
}

.btnWrapper {
    margin: 0 auto;
    display: block;

    .btn {
        float: left;
    }

    .btn:first-child {
        margin-right: 10px;
    }
}

.btn {
    padding: 8px 12px; 
    border-radius: 0;
    font-weight: 300;
    background-color: transparent;
    margin: 0 auto;
    font-family: 'Rokkitt', serif;
    border: 3px solid #333;
    color: #333;
    text-transform: uppercase;
    padding: 10px;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1;
    background-color: #edeceb;
}

.btn.blue {
    background-color: #0084a5;
    color: #FFF;   
    border: none;
}

.btn.facebook {
    background-color: #4da6c9;
    color: #FFF; 
    border: none;
}

.footnote {
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 0 12px;
}


/***********************/
/********* NAV ********/
/*********************/

nav {
    position: relative;
    z-index: 2;

    .navbar {
        margin-bottom: 0;
        text-align: center;
        box-shadow: 3px 3px #444;

        li {
            display: inline-block;

            @media screen and (max-width:768px) {
                display: block;
                text-align: right;
            }
        }
    }

    #navWrapper {
        height: 120px;
        display: inline-block;
        margin: 0 auto;

        @media screen and (max-width:991px) {
            height: 90px;
        }

        @media screen and (max-width:768px) {
            height: auto;
            float: right;
        }

        .additional {
            position: absolute;
            right: 30px;
            top: 15px;
            display: block;
            font-family: 'Rokkitt', serif;
            font-size: 1.6rem;

            a {
                padding: 0 5px;
            }
        }
    }

    #logo {
        width: 300px;
        height: 188px;
        background: url(../images/bg-logo.png) top center no-repeat;
        background-size: contain;
        padding-top: 40px;

        @media screen and (max-width:991px) {
            width: 293px * .75;
            height: 188px * .75;
            padding-top: 40px * .75;
        }

        a {
            background: url(../images/logo.svg) center center no-repeat;
            width: 252px;
            height: 92px;
            display: block;
            margin: 0 auto;

            @media screen and (max-width:991px) {
                width: 252px * .75;
                height: 92px * .75;
            }
        }
    }

    .navbar-default .navbar-nav {
        margin: 0 auto;
        font-size: 1.8rem;
        font-family: 'Rokkitt', serif;

        li:not(#logo) {
            padding: 50px 0 40px;
            min-width: 140px;

            @media screen and (max-width:991px) {
                padding: 35px 0 20px;
                min-width: 110px;
                font-size: 1.6rem;
            }

            @media screen and (max-width:768px) {
                padding: 0;
            }
        }

        li a {
            color: #333;
        }

            li a:hover {
                text-decoration: underline;
            }
    }

    .navbar-toggle {
        border-radius: 0;
        border: none;
        margin-right: 0;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #333;
    }
}


/***********************/
/********  FORM  ******/
/*********************/


.form-group {
    border: 1px solid #333;
    padding: 5px 10px;
    margin: 0;
    float: left;
    width: 100%;

    label {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-size: 1.3rem;
    }

    input {
        border: 0;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border-radius: none;
        height: auto;
    }
}


/***********************/
/********  HERO  ******/
/*********************/

#hero {
    background: url(../images/bg-boxers.jpg) center center no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    position: relative;
    
    h1 {
        display: inline-block;
        padding: 10px 12px;
        border: 3px solid #FFF;
        margin-bottom: 10px;
    }

    .border {
        background-image: url(../images/bg-sky-border.png);
    }
}

/***********************/
/******** PLANS *******/
/*********************/

#plans {
    background: url(../images/bg-sky.jpg) top center no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFF;
    position: relative;

    .border {
        background-image: url(../images/bg-stripe-border.png);
    }
}

#tickets {
    a {
        text-decoration: none;
        cursor: pointer;
    }

    .ticket {
        width: 290px;
        height: 623px;
        background-resize: contain;
        background-position: top center;
        background-repeat: no-repeat;
        padding-top: 80px;
        display: block;
        margin: 50px auto 0;
        position: relative;

        h4 {
            max-width: 258px;
            height: 65px;
            background-resize: contain;
            background-position: top center;
            background-repeat: no-repeat;
            margin: 0 auto;
            position: relative;
        }

        p {
            max-width: 258px;
            color: #333;
            margin: 15px auto;
            text-align: left;
            line-height: 1.5;
            font-size: 1.5rem;
        }

        .stamp {
            position: absolute;
            width: 100%;
            height: 103px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 169px 103px;
            bottom: 100px;
            left: 0;
            opacity: .6;
        }

        .clip {
            position: absolute;
            width: 72px;
            height: 111px;
            background-position: center center;
            background-repeat: no-repeat;
            top: -40px;
            left: 120px;
        }

        .breakdown {
            position: absolute;
            bottom: 200px;
            left: 0;
            width: 100%;
            text-align: center;
            color: #333;
            font-size: 2rem;
            font-weight: bold;
        }

        .bottom {
            position: absolute;
            bottom: 0px;
            height: 100px;
            width: 100%;

            .btn {
                background-color: transparent;
                margin: 0 auto;
            }
        }
    }
    
    #economy.ticket {
        background-image: url(../images/ticket-economy.svg);

        h4 {
            background-image: url(../images/title-economy.svg);
        }

        .stamp {
            background-image: url(../images/stamp-economy.png);
        }

        .clip {
            background-image: url(../images/clip-economy.png);
        }
    }

    #business.ticket {
        background-image: url(../images/ticket-business.svg);

        h4 {
            background-image: url(../images/title-business.svg);
        }

        .stamp {
            background-image: url(../images/stamp-business.png);
        }

        .clip {
            background-image: url(../images/clip-business.png);
        }
    }

    #first.ticket {
        background-image: url(../images/ticket-first.svg);

        h4 {
            background-image: url(../images/title-first.svg);
        }

        .stamp {
            background-image: url(../images/stamp-first.png);
        }

        .clip {
            background-image: url(../images/clip-first.png);
        }
    }

    .subscription {
        max-width: 258px;
        height: 70px;
        background-color: rgba(255, 255, 255, .5);
        background-image: url(../images/bg-pricing.png);
        background-repeat: repeat-x;
        display: block;
        margin: 15px auto;
        padding: 8px;
        color: #333;
        font-size: 2rem;

        .pricing {
            text-align: center;
            font-weight: bold;
        }
    }
}

/***********************/
/********* WHY ********/
/*********************/

#why {
    background: url(../images/bg-stripes.png);
    text-align: center;
    color: #333;
    position: relative;

    img {
        margin-top: 80px;
        width: 100%;
        max-width: 290px;
    }
    
    ul {
        margin-top: 50px;
        
        li {
            height: 90px;
            text-align: left;
            background-position: center left; 
            background-repeat: no-repeat;
            list-style-type: none;
            line-height: 90px;
            padding-left: 110px;
            margin-bottom: 30px;
            font-size: 1.8rem;
        }
    }

    li#trips {
        background-image: url(../images/icon-trips.svg);
    }

    li#laundry {
        background-image: url(../images/icon-laundry.svg);
    }

    li#time{
        background-image: url(../images/icon-time.svg);
    }

    .border {
        background-image: url(../images/bg-blue-border.png);
    }
}

/***********************/
/******** HOW TO ******/
/*********************/

#hero-howto {
    background: url(../images/bg-sky.jpg) top center no-repeat;
    background-size: cover;
    color: #333;
    text-align: center;
    position: relative;
    /*min-height: 1750px;*/  
}

#howto {
    background-color: #0084a5;
    color: #FFF;
    text-align: center;

    h2 {
        text-align: center;
        margin-top: 50px;
    }

    .btn {
        
    }

    .icon {
        float: left;
        display: block;
        width: 120px;
        height: 76px;
        background-size: 120px 76px;
        background-repeat: no-repeat;
        background-position: left top;
        margin-bottom: 20px;
    }

    .step {
        text-align: left;

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }

    }

    #step-select .icon {
        background-image: url(../images/icon-select.svg);
    }

    #step-policy .icon {
        background-image: url(../images/icon-plane.svg);
    }

    #step-switch .icon {
        background-image: url(../images/icon-switch.svg);
    }

    #step-best .icon {
        background-image: url(../images/icon-thumbsup.svg);
    }
}

/***********************/
/***** TESTIMONIAL ****/
/*********************/

#testimonial {
    background: #0f7194;
    color: #FFF;
    text-align: center;
    line-height: 1.75;
    padding-top: 80px;
    padding-bottom: 80px;

    p {
        font-size: 2.2rem;
    }

    .quoter {
        font-weight: bold;
        margin-top: 10px;
        display: block;
        clear: both;
    }
}

/***********************/
/******** ORDER *******/
/*********************/

#order {
    background: url(../images/bg-sky.jpg) top center no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    position: relative;
    /*min-height: 1750px;*/
    
    h1 {
        display: inline-block;
        padding: 10px 20px;
        border: 3px solid #FFF;
        margin-bottom: 20px;
    }

    #steps {
        display: inline-block;
        margin: 50px auto 30px;
        padding: 0;

        li {
            list-style-type: none;
            display: block;
            float: left;
            padding-top: 70px;

            @media screen and (max-width:768px) {
                padding-top: 0;
            }

            .step {
                width: 100%;
                max-width: 70px;
                height: 70px;
                background-color: #333;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                margin: 0 auto;
                text-align: center;
                overflow: hidden;

                .icon {
                    width: 70px;
                    height: 70px;
                    display: block;
                    background-size: 36px 36px;
                    background-position: center center; 
                    background-repeat: no-repeat;
                    transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg); /* IE 9 */
                    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
                }
            }

            .title {
                clear: both;
                margin-top: 15px;
                display: block;
                color: #333;
            }
        }

        li.active {
            background: url(../images/steps-plane.svg) top center / 60px 36px no-repeat;

            @media screen and (max-width:768px) {
                background-image: none;
            }
        }

        li.bar {
            height: 105px;
            border-bottom: 2px dashed #333;
            float: left;
            width: 120px;

            @media screen and (max-width:768px) {
                border: none;
                width: 80px;
            }
        }

        li.bar.filled {
            border-bottom: 2px solid #333;
        }

        li.active {
            .step {
                border: 2px solid #fff;
            }
        }

        #step-select {
            .icon {
                background-image: url(../images/icon-cart.svg);
            }
        }

        #step-shipping {
            .icon {
                background-image: url(../images/icon-card.svg);
            }
        }

        #step-review {
            .icon {
                background-image: url(../images/icon-receipt.svg);
            }
        }
    }

    #billingInfo {
        display: none;
    }

    button[type="submit"] {
        display: block;
        background-color: #edeceb;
    }

    #shipping, #review {
        display: none;
    }
}

/***********************/
/******* ACCOUNT ******/
/*********************/

#account {
    background: url(../images/bg-sky.jpg) top center no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    position: relative;
   

}


/***********************/
/******* FORMS *******/
/*********************/

.formWrapper {
    background-color: #edeceb;
    border: 3px solid #333;
    color: #333;
    overflow: hidden;
    margin: 25px 0;
    text-align: left;

    .errorBar {
        background-color: $red;
        padding: 15px;
        display: none;

        p {
            color: white;
            line-height: 1;
            margin: 0;
        }
    }

    h2 {
        background-color:#333;
        color: #fff;
        text-align: center;
        font-size: 2.6rem;
        margin: 0;
        padding: 10px;
    }

    .form-group.error {
        border: 1px solid $red;
    }

    .fieldFirstName {
        width: 50%;
    }

    .fieldLastName {
        width: 50%;
    }

    .fieldCity {
        width: 50%;
    }

    .fieldState {
        width: 20%;
    }

    .fieldZip {
        width: 30%;
    }

    .fieldExp {
        width: 50%;
    }

    .fieldCVC {
        width: 50%;
    }

    .fieldBillSame {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .fieldEmail {
        width: 50%;
    }

    .fieldPassword {
        width: 50%;
    }
}


/***********************/
/********* JOIN *******/
/*********************/

.joinForm {
    h4 {
        margin: 0 0 10px 0;
    }   

    input {
        border: 0;
        padding: 7px;
        font-size: 1.6rem;
        margin-right: 5px;
        width: 80%;
        max-width: 250px;
        display: inline-block;
    }

    .btn {
        padding: 11px;
        border: 0;
        color: #FFF;
        font-size: 1.6rem;
        line-height: 0;
        margin-top: -4px;
        display: inline-block;
    }

    .joinWrapper {
        margin: 0 auto;
        overflow: hidden;

        @media screen and (max-width:768px) {
            text-align: center;
        }
    }
}


/***********************/
/******* FOOTER *******/
/*********************/

footer {
    padding-top: 100px;
    padding-bottom: 50px;
    background: url(../images/bg-fabric.png); 
    color: #FFF;
    position: relative;

    @media screen and (max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .triangle {
        width: 100%;
        background: url(../images/bg-triangle.png) top center no-repeat;
        height: 39px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .copyright {
        text-align: center;
        width: 100%;
        display: block;
        margin: 30px auto 10px;
    }

    h4 {
        text-align: left;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        @media screen and (max-width: 768px) {
            margin-bottom: 25px;
        }

        li {
            list-style-type: none;
            line-height: 1.75;

            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }
    }

    a {
        color: #FFF;
    }

        a:hover {
            color:#FFF;
            text-decoration: underline;
        }
}

/***********************/
/******** MODAL *******/
/*********************/

.modal-dialog {
    max-width: 400px;

    .modal-content {
        border-radius: 0;
        overflow: hidden;
        background-color: #edeceb;

        .modal-header {
            background-color: #333;

            h4, a {
                color: #FFF;
            }
        }

        .btn {
            margin-top: 10px;
        }
    }

    .close {
        color: #FFF;
        text-shadow: none;
    }
}

/***********************/
/********* ABOUT ******/
/*********************/

#about {

}


/***********************/
/********* FAQ ********/
/*********************/

#faq {
    h3 {
        margin-top: 40px;
    }
}

/***********************/
/******* CONATCT ******/
/*********************/

#contact {
    
}


/***********************/
/********* SUB ********/
/*********************/

.sub {
    background: url(../images/bg-stripes.png);
    padding-bottom: 100px; 
}

/***********************/
/******** SVG  ********/
/*********************/

.no-svg {
    nav {
        #logo {
            a {
                background: url(../images/logo.png) center center no-repeat;
            }
        }
    }

    #tickets {
        #economy.ticket {
            background-image: url(../images/ticket-economy.png);

            h4 {
                background-image: url(../images/title-economy.png);
            }
        }

        #business.ticket {
            background-image: url(../images/ticket-business.png);

            h4 {
                background-image: url(../images/title-business.png);
            }
        }

        #first.ticket {
            background-image: url(../images/ticket-first.png);

            h4 {
                background-image: url(../images/title-first.png);
            }
        }
    }  

    #why {
        li#trips {
            background-image: url(../images/icon-trips.png);
        }

        li#laundry {
            background-image: url(../images/icon-laundry.png);
        }

        li#time{
            background-image: url(../images/icon-time.png);
        }
    }

    #howto {
        #step-select .icon {
            background-image: url(../images/icon-select.png);
        }

        #step-policy .icon {
            background-image: url(../images/icon-plane.png);
        }

        #step-switch .icon {
            background-image: url(../images/icon-switch.png);
        }

        #step-best .icon {
            background-image: url(../images/icon-thumbsup.png);
        }
    }

    #order {
        #steps {
            #step-select {
                .icon {
                    background-image: url(../images/icon-cart.png);
                }
            }

            #step-shipping {
                .icon {
                    background-image: url(../images/icon-card.png);
                }
            }

            #step-review {
                .icon {
                    background-image: url(../images/icon-receipt.png);
                }
            }
        }
    }
}
