<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Bird Briefs</title>

    <link rel="shortcut icon" href="../images/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Rokkitt:400,700' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.static_root }}js/html5shiv.js"></script>
      <script src="{{ site.static_root }}js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <nav>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <div id="navWrapper">
                                <span class="additional hidden-xs"><a href="../order/">Register</a> | <a href="#" data-toggle="modal" data-target="#modalSignIn">Sign In</a></span>
                                <ul class="nav navbar-nav">
                                    <li class="visible-xs"><a href="../">Home</a></li>
                                    <li><a href="../underwear/">The Underwear</a></li>
                                    <li><a href="../howto/">How to Fly</a></li>
                                    <li id="logo" class="hidden-xs"><a href="../"><span class="sr-only">BirdBriefs</span></a></li>
                                    <li><a href="../order/">Give a Gift</a></li>
                                    <li><a href="#">Our Blog</a></li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="faq" class="container-fluid section sub">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1>Frequently Asked Questions</h1>

                    <h3>Joining the Flock</h3>

                    <dl>
                        <dt>How does this all work?</dt>
                        <dd>It&rsquo;s pretty straightforward. You simply select the best package for your needs and create an account with your shipping details and payment info. Once you complete your order, your first shipment fresh new underwear will be shipped immediately. From that point on, your crisp new underwear will be shipped on a quarterly basis and you will be billed on a monthly basis. The hassle of going to the store is finally over.</dd>

                        <dt>Are there any other costs?</dt>
                        <dd>No, there are no sign up fees to begin your subscription. You are only paying for your new underwear. And best of all, shipping is included.</dd>

                        <dt>What can I expect in my first shipment?</dt>
                        <dd>Undies. Let us know if you&rsquo;re looking for something else though. We always appreciate the feedback.</dd>

                        <dt>What if I don&rsquo;t know how much underwear I need?</dt>
                        <dd>Ultimately, you can&rsquo;t go wrong with any order of BirdBriefs but we suggest you choose business class as this is our most popular package. If you find this to be too little or too much underwear for your needs, you can suspend your account or amend your order at any time.</dd>

                        <dt>Can I cancel?</dt>
                        <dd>Of course. You can cancel at any time. Simply just log into your account. But please do click on the &lsquo;submit feedback&rsquo; link and let us know why this wasn&rsquo;t a good fit for you. We are always looking for ways to improve and keep you as fresh and clean as possible, so feedback is always appreciated.</dd>

                        <dt>What if I want to switch packages?</dt>
                        <dd>No problem. Simply log in to your account or call our support team. We’ll get you squared away lickety split.</dd>

                        <dt>Can I pay for a year in advance?</dt>
                        <dd>Yes. You can do this on the &ldquo;Gift&rdquo; section of our site. So go ahead, pick up that 1 year supply of undies you&rsquo;ve always wanted, whether it be for yourself or a friend. Stay fresh and stay fly.</dd>

                        <dt>Do you accept paypal?</dt>
                        <dd>Yes! It&rsquo;s the 21st century, feel free to paypal us if thats whats best for you.</dd>

                        <dt>Can I pay by check or over the phone?</dt>
                        <dd>We do not accept checks. We only accept major credit cards, we&rsquo;ll be happy to process your order over the phone if you aren&rsquo;t comfortable placing your order online.</dd>

                        <dt>Do you offer gift memberships?</dt>
                        <dd>Yes. Gift memberships are a thing. You can find this in the &ldquo;gift&rdquo; section of our web site. </dd>
                    </dl>


                    <h3>The Underwear</h3>

                    <dl>
                        <dt>How many pairs of underwear will I receive every other month?</dt>
                        <dd>That will depend on the package you choose. Economy will provide 3 pairs, business 5 pairs, and first class 7 pairs.</dd>

                        <dt>Can I receive underwear every month?</dt>
                        <dd>Not currently. This may be an option in the future but right now every BirdBriefs membership will receive their undie package on a quarterly basis.</dd>

                        <dt>Do you have products for women?</dt>
                        <dd>Sure! who said women can&rsquo;t wear men&rsquo;s underwear?</dd>

                        <dt>Are your products tested on animals?</dt>
                        <dd>Yes. As many as possible. Post photos of your pets wearing birdbriefs to facebook, twitter, or instagram. Use the hashtag: #BirdBriefs</dd>

                        <dt>How many times can I wear each underwear?</dt>
                        <dd>This will vary depending on several factors including but not limited to climate, wind chill, physical exertion, diet, and moon phase. </dd>

                        <dt>Are you planning to offer any other products in the future?</dt>
                        <dd>We plan to roll out other products in the near future. If you have something in mind that you&rsquo;d like to see offered, please let us know!</dd>

                        <dt>Do you have products for women?</dt>
                        <dd>Sure! who said women can&rsquo;t wear men&rsquo;s underwear?</dd>

                        <dt>Do you have products for women?</dt>
                        <dd>Sure! who said women can&rsquo;t wear men&rsquo;s underwear?</dd> 
                    </dl>

                    <h3>Shipping Info</h3>

                    <dl>
                        <dt>When you will you ship my order?</dt>
                        <dd>New BB memberships are processed immediately upon setting up your account, and your first shipment will leave our warehouse shortly after. Shipments ususally take 3-5 business days once mailed.</dd>

                        <dt>When can I expect my recurring shipments/billing?</dt>
                        <dd>Your recurring shipments will be determined by your original sign up date. For example, if you joined on the 12th, your next charge will be billed and processed on the 12th of the following month and so on. Your next shipment will be processed in 90 days. </dd>

                        <dt>What if I pause my account?</dt>
                        <dd>When flying with BirdBriefs you are charged on a monthly basis and shipments go out quarterly. So, if you pause your account we will continue to bill monthly in the case that there are outstanding pairs still not paid for. Once your balance is at zero, we will no longer charge you until you unpause the account. Pretty simple.</dd>

                        <dt>What if I cancel my account?</dt>
                        <dd>Because of our billing structure there may be an outstanding balance for underwear not yet paid for. In this situation, we will bill you for the remaining balance upon cancellation. </dd>

                        <dt>Why am I being billed monthly if shipments only go out quarterly?</dt>
                        <dd>Great question. BirdBriefs is more than just a product, its a service and a lifestyle. Every man needs fresh underwear on hand! The alternative is gross. When flying with BirdBriefs you&rsquo;re buying into the lifestyle. If you just want a 3 pack of generic undies, get them at the store. Our pricing structure is unique and for good reason: We can keep our membership costs exceptionally low while still sending out a premium product without charging for shipping. </dd>
                    </dl>

                    <p>Per usual, we hope you enjoy flying with BirdBriefs and if you still do have additional questions you are always welcome to call in. Stay Fresh, Stay Clean, Stay Fly.</p>

                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-sm-2">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="../about/">About</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="../contact/">Contact Us</a></li>
                                <li><a href="#">Press</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Legal</h4>
                            <ul>
                                <li><a href="../terms/">Terms of Service</a></li>
                                <li><a href="../privacy/">Privacy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Social</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/BirdBriefs">Facebook</a></li>
                                <li><a href="https://twitter.com/birdbriefs">Twitter</a></li>
                                <li><a href="http://instagram.com/birdbriefs/">Instagram</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="joinForm">
                                <form>
                                <h4>Join our email list:</h4>
                                <div class="joinWrapper">
                                    <input type="text" />
                                    <button type="submit" class="btn blue"><i class="fa fa-arrow-right"></i></button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="copyright">&copy; 2014 BirdBriefs. All rights reserved.</span>
    </footer>

    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modalSignInLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalSignInLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="formWrapper">
                            <div class="form-group fieldEmail">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" class="form-control" />
                            </div>
                            <div class="form-group fieldPassword">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" />
                            </div>
                            <button type="submit" class="btn">Sign In <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>

</body>
</html>