<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Bird Briefs</title>

    <link rel="shortcut icon" href="../images/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Rokkitt:400,700' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.static_root }}js/html5shiv.js"></script>
      <script src="{{ site.static_root }}js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">

    <nav>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <div id="navWrapper">
                                <span class="additional hidden-xs"><a href="../order/">Register</a> | <a href="#" data-toggle="modal" data-target="#modalSignIn">Sign In</a></span>
                                <ul class="nav navbar-nav">
                                    <li class="visible-xs"><a href="../">Home</a></li>
                                    <li><a href="../underwear/">The Underwear</a></li>
                                    <li><a href="../howto/">How to Fly</a></li>
                                    <li id="logo" class="hidden-xs"><a href="../"><span class="sr-only">BirdBriefs</span></a></li>
                                    <li><a href="../order/">Give a Gift</a></li>
                                    <li><a href="#">Our Blog</a></li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="order" class="container-fluid section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Take Flight with BirdBriefs</h1>
                    <h3>Shipping is always included. Please sit back and enjoy the ride.</h3>

                    <ul id="steps">
                        <li id="step-select" class="active">
                            <div class="step">
                                <span class="icon"></span>
                            </div>
                            <span class="title">Select Plan</span>
                        </li>
                        <li id="bar-toShipping" class="hidden-sm hidden-xs bar"></li>
                        <li id="step-shipping">
                            <div class="step">
                                <span class="icon"></span>
                            </div>
                            <span class="title">Account Details</span>
                        </li>
                        <li id="bar-toReview" class="hidden-sm hidden-xs bar"></li>
                        <li id="step-review">
                            <div class="step">
                                <span class="icon"></span>
                            </div>
                            <span class="title">Review</span>
                        </li>
                    </ul>
                </div>
            </div>      
            

            <!-- STEP 1 -->
            <div id="tickets">
                <div class="row">
                    <div class="col-md-4">
                        <a onclick="showStep2()" id="economy" class="ticket">
                            <div class="clip"></div>

                            <h4><span class="sr-only">Stay Fresh - Stay Clean - Stay Fly - Economy</span></h4>
                            
                            <div class="subscription">
                                <span class="pricing">2 pairs of BirdBriefs every 3 months</span>
                            </div>

                            <p>A great plan to get started. For the guy who is too busy to shop for himself, but still likes to look and feel good. Our most basic plan is perfect for your average guy.</p>

                            <span class="breakdown">$12/pair</span>
                            <span class="stamp"></span>

                            <div class="bottom">
                                <span class="btn">Take Flight <i class="fa fa-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a onclick="showStep2()" id="business" class="ticket">
                            <div class="clip"></div>

                            <h4><span class="sr-only">Stay Fresh - Stay Clean - Stay Fly - Business</span></h4>
                            <div class="subscription">
                                <span class="pricing">4 pairs of BirdBriefs every 3 months</span>
                            </div>
                            
                            <p>Shopping for boxer-briefs will be a thing of the past. You&rsquo;ve never looked or felt better now that you&rsquo;re rockin&rsquo; the cleanest most stylish undies in the universe. 4 new pairs every 90 days, so fresh.</p>
                            
                            <span class="breakdown">$7.50/pair</span>
                            <span class="stamp"></span>

                            <div class="bottom">
                                <span class="btn">Take Flight <i class="fa fa-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a onclick="showStep2()"  id="first" class="ticket">
                            <div class="clip"></div>

                            <h4><span class="sr-only">Stay Fresh - Stay Clean - Stay Fly - First Class</span></h4>
                            <div class="subscription">
                                <span class="pricing">6 pairs of BirdBriefs every 3 months</span>
                            </div>
                            <p>Bear Grylls meets Prince Charles, this plan has it all! With our most premium package, laundry will be a thing of the past. You will ALWAYS have fly underwear on hand.</p>

                            <span class="breakdown">$6/pair</span>
                            <span class="stamp"></span>

                            <div class="bottom">
                                <span class="btn">Take Flight <i class="fa fa-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- STEP 2 -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="shipping">
                        <form>
                            <div class="formWrapper">
                                <div class="errorBar">
                                    <p>Please fill out all fields.</p>
                                </div>
                                <h2>Your Package</h2>
                                <div class="form-group">
                                    <p>You&rsquo;ve Selected: <strong>Economy ($8/month)</strong></p>
                                </div> 
                                <h2>Shipping Information</h2>
                                <div class="form-group fieldFirstName">
                                    <label for="firstName">First Name</label>
                                    <input type="text" name="firstName" class="form-control" />
                                </div> 
                                <div class="form-group fieldLastName">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" name="lastName" class="form-control" />
                                </div>  
                                <div class="form-group fieldAddress1">
                                    <label for="address1">Address 1</label>
                                    <input type="text" name="address1" class="form-control" />
                                </div> 
                                <div class="form-group fieldAddress2">
                                    <label for="address2">Address 2</label>
                                    <input type="text" name="address2" class="form-control" />
                                </div>  
                                <div class="form-group fieldCity">
                                    <label for="city">City</label>
                                    <input type="text" name="city" class="form-control" />
                                </div>  
                                <div class="form-group fieldState">
                                    <label for="state">State</label>
                                    <input type="text" name="state" class="form-control" />
                                </div>  
                                <div class="form-group fieldZip">
                                    <label for="zip">ZIP</label>
                                    <input type="text" name="zip" class="form-control" />
                                </div> 

                                <h2>Billing Information</h2>
                                <div class="form-group fieldCC">
                                    <label for="cc">Credit Card Number</label>
                                    <input type="text" name="cc" class="form-control" />
                                </div> 
                                <div class="form-group fieldExp">
                                    <label for="exp">Expiration Date</label>
                                    <input type="text" name="exp" class="form-control" placeholder="MM/YYYY" />
                                </div> 
                                <div class="form-group fieldCVC">
                                    <label for="cvc">CVC</label>
                                    <input type="text" name="cvc" class="form-control" />
                                </div> 
                                <div class="form-group fieldBillSame">  
                                    <input type="checkbox" name="billSame" id="checkBillSame" autocomplete="off" /> My billing information is different from shipping.
                                </div> 
                                <div id="billingInfo">
                                    <div class="form-group fieldFirstName">
                                        <label for="billingFirstName">First Name</label>
                                        <input type="text" name="billingFirstName" class="form-control" />
                                    </div> 
                                    <div class="form-group fieldLastName">
                                        <label for="billingLastName">Last Name</label>
                                        <input type="text" name="billingLastName" class="form-control" />
                                    </div>  
                                    <div class="form-group fieldAddress1">
                                        <label for="billingAddress1">Address 1</label>
                                        <input type="text" name="billingAddress1" class="form-control" />
                                    </div> 
                                    <div class="form-group fieldAddress2">
                                        <label for="billingAddress2">Address 2</label>
                                        <input type="text" name="billingAddress2" class="form-control" />
                                    </div>  
                                    <div class="form-group fieldCity">
                                        <label for="billingCity">City</label>
                                        <input type="text" name="billingCity" class="form-control" />
                                    </div>  
                                    <div class="form-group fieldState">
                                        <label for="billingState">State</label>
                                        <input type="text" name="billingState" class="form-control" />
                                    </div>  
                                    <div class="form-group fieldZip">
                                        <label for="billingZip">ZIP</label>
                                        <input type="text" name="billingZip" class="form-control" />
                                    </div> 
                                </div>

                                <h2>Account Information</h2>
                                <div class="form-group fieldEmail">
                                    <label for="email">Email Address</label>
                                    <input type="text" name="email" class="form-control" />
                                </div>
                                <div class="form-group fieldPassword">
                                    <label for="password">Password</label>
                                    <input type="text" name="password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <p>I already have an account:</p>
                                    <button type="button" class="btn blue" data-toggle="modal" data-target="#modalSignIn">Sign in Now <i class="fa fa-arrow-right"></i></button>
                                    <a href="#" class="btn facebook">Sign in with Facebook <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <a class="btn" onclick="showStep1()"><i class="fa fa-arrow-left"></i> Back</a>
                            <a class="btn" onclick="showStep3()">Next <i class="fa fa-arrow-right"></i></a>
                        </form>
                    </div>
                </div>
            </div>

            <!-- STEP 3 -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="review">
                        <form>
                            <div class="formWrapper">
                                <h2>Review</h2>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-sm-4">
                                            <h3>Flying</h3>
                                            <p>
                                                <span class="flightClass">Economy</span><br />
                                                <span class="flightCost">$10/month</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Shipping</h3>
                                            <p class="shippingAddress">
                                                John Doe<br />
                                                12345 Main St, Unit 123<br />
                                                Austin, TX 78701
                                            </p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Payment</h3>
                                            <p>Card ending in <span class="cardLast4">1234</span><br />
                                            <span class="cardExp">Expiring 10/16</span></p>

                                            <br />

                                            <h4>Billing Address</h4>
                                            <p class="billingAddress">
                                                John Doe<br />
                                                12345 Main St, Unit 123<br />
                                                Austin, TX 78701
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="footnote">By clicking &ldquo;Board Now&rdquo;, you confirm that you accept the Terms of Service and that your membership will automatically renew on a monthly basis and your credit card will automatically be charged the applicable monthly subscription fee and shipping and handling fees until you cancel your membership.</p> 
                            </div>
                            <div class="btnWrapper">
                                <a class="btn" onclick="showStep2()"><i class="fa fa-arrow-left"></i> Back</a>
                                <button type="submit" class="btn">Board Now <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>

   <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-sm-2">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="../about/">About</a></li>
                                <li><a href="../faq/">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="../contact/">Contact Us</a></li>
                                <li><a href="#">Press</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Legal</h4>
                            <ul>
                                <li><a href="../terms/">Terms of Service</a></li>
                                <li><a href="../privacy/">Privacy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Social</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/BirdBriefs">Facebook</a></li>
                                <li><a href="https://twitter.com/birdbriefs">Twitter</a></li>
                                <li><a href="http://instagram.com/birdbriefs/">Instagram</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="joinForm">
                                <form>
                                <h4>Join our email list:</h4>
                                <div class="joinWrapper">
                                    <input type="text" />
                                    <button type="submit" class="btn blue"><i class="fa fa-arrow-right"></i></button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="copyright">&copy; 2014 BirdBriefs. All rights reserved.</span>
    </footer>

    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modalSignInLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalSignInLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="formWrapper">
                            <div class="form-group fieldEmail">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" class="form-control" />
                            </div>
                            <div class="form-group fieldPassword">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" />
                            </div>
                            <button type="submit" class="btn">Sign In <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>

</body>
</html>