<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Bird Briefs</title>

    <link rel="shortcut icon" href="../images/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Rokkitt:400,700' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.static_root }}js/html5shiv.js"></script>
      <script src="{{ site.static_root }}js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <nav>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <div id="navWrapper">
                                <span class="additional hidden-xs"><a href="../order/">Register</a> | <a href="#" data-toggle="modal" data-target="#modalSignIn">Sign In</a></span>
                                <ul class="nav navbar-nav">
                                    <li class="visible-xs"><a href="../">Home</a></li>
                                    <li><a href="../underwear/">The Underwear</a></li>
                                    <li><a href="../howto/">How to Fly</a></li>
                                    <li id="logo" class="hidden-xs"><a href="../"><span class="sr-only">BirdBriefs</span></a></li>
                                    <li><a href="../order/">Give a Gift</a></li>
                                    <li><a href="#">Our Blog</a></li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="privacy" class="container-fluid section sub">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1>Privacy Policy</h1>

                    <p>This Privacy Policy governs the manner in which BirdBriefs collects, uses, maintains and discloses information collected from users (each, a &ldquo;User&rdquo;) of the  website (&ldquo;Site&rdquo;). This privacy policy applies to the Site and all products and services offered by BirdBriefs.</p>

                    <h3>Personal identification information</h3>
                    <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the siteplace an orderfill out a formrespond to a survey and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information, Users may, however, visit our Site anonymously.</p>

                    <p>We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>

                    <h3>Non-personal identification information</h3>
                    <p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>

                    <h3>Web browser cookies</h3>
                    <p>Our Site may use "cookies" to enhance User experience. User&rsquo;s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>

                    <h3>How we use collected information</h3>
                    <p>BirdBriefs collects and uses Users personal information for the following purposes:</p>

                    <dl>
                        <dt>To improve customer service</dt>
                        <dd>Your information helps us to more effectively respond to your customer service requests and support needs.</dd>

                        <dt>To personalize user experience</dt>
                        <dd>We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.</dd>

                        <dt>To improve our Site</dt>
                        <dd>We continually strive to improve our website offerings based on the information and feedback we receive from you.</dd>

                        <dt>To process transactions</dt>
                        <dd>We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.</dd>

                        <dt>To send periodic emails</dt>
                        <dd>The email address Users provide for order processing, will only be used to send them information and updates pertaining to their order. It may also be used to respond to their inquiries, and/or other requests or questions. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site.</dd>
                    </dl>

                    <h3>How we protect your information</h2>

                    <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>

                    <p>Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>

                    <h3>Changes to this privacy policy</h3>

                    <p>BirdBriefs has the discretion to update this privacy policy at any time. When we do, revise the updated date at the bottom of this page,. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>

                    <h3>Your acceptance of these terms</h3>

                    <p>By using this Site, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>

                    <h3>Contacting us</h3>
                    <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:</p>

                    <p>BirdBriefs<br />
                    911 E 2nd Street<br />
                    Austin TX, 78702<br />
                    (214) 336-4379<br />
                    <a href="mailto:birdbriefs@gmail.com">birdbriefs@gmail.com</a></p>

                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-sm-2">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="../about/">About</a></li>
                                <li><a href="../faq/">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="../contact/">Contact Us</a></li>
                                <li><a href="#">Press</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Legal</h4>
                            <ul>
                                <li><a href="../terms/">Terms of Service</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Social</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/BirdBriefs">Facebook</a></li>
                                <li><a href="https://twitter.com/birdbriefs">Twitter</a></li>
                                <li><a href="http://instagram.com/birdbriefs/">Instagram</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="joinForm">
                                <form>
                                <h4>Join our email list:</h4>
                                <div class="joinWrapper">
                                    <input type="text" />
                                    <button type="submit" class="btn blue"><i class="fa fa-arrow-right"></i></button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="copyright">&copy; 2014 BirdBriefs. All rights reserved.</span>
    </footer>

    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modalSignInLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalSignInLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="formWrapper">
                            <div class="form-group fieldEmail">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" class="form-control" />
                            </div>
                            <div class="form-group fieldPassword">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" />
                            </div>
                            <button type="submit" class="btn">Sign In <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>

</body>
</html>