<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Bird Briefs</title>

    <link rel="shortcut icon" href="../images/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Rokkitt:400,700' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.static_root }}js/html5shiv.js"></script>
      <script src="{{ site.static_root }}js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <nav>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <div id="navWrapper">
                                <span class="additional hidden-xs"><a href="../order/">Register</a> | <a href="#" data-toggle="modal" data-target="#modalSignIn">Sign In</a></span>
                                <ul class="nav navbar-nav">
                                    <li class="visible-xs"><a href="../">Home</a></li>
                                    <li><a href="../underwear/">The Underwear</a></li>
                                    <li><a href="../howto/">How to Fly</a></li>
                                    <li id="logo" class="hidden-xs"><a href="../"><span class="sr-only">BirdBriefs</span></a></li>
                                    <li><a href="../order/">Give a Gift</a></li>
                                    <li><a href="#">Our Blog</a></li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="about" class="container-fluid section sub">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1>About</h1>

                    <p>Founded in Austin TX circa 2014. BirdBriefs came about as founders Matt Ward and Zach Bird were discussing what a pain it is for guys to go buy underwear in-store. I mean after all you don&rsquo;t try them on and your size doesn&rsquo;t change. Buying underwear in store is totally pointless!</p>

                    <p>Also, most guys aren&rsquo;t replacing their underwear often enough! Go ahead, check out your top drawer. There are ALWAYS pairs of undies that are stretched out, over-worn, and have holes in them. This has to stop! IF BUYING UNDERWEAR WAS EASIER AND MORE CONVENIENT, WE'D ALL HAVE MORE FRESH, CRISP PAIRS TO WEAR!</p>

                    <p>So that is exactly what we did. We made purchasing underwear easier, less expensive&mdash;with no retail mark-up, and totally convenient by shipping straight to your door.</p>

                    <p>Our underwear is tailored for the practical guy who doesn&rsquo;t have time to go to the department store for underwear &ndash; its a pointless trip anyways, you don&rsquo;t have to try on underwear. You know your size and you buy&rsquo;em! We sell boxer-briefs and boxer-briefs alone. After polling countless individuals, both male and female, we realized the boxer-brief is the premier undie style. Boxer-Briefs are more popular with both sexes, keeps you secure, and they look good too. By focusing solely on boxer-briefs, our chief scientist Matt Ward was able to find the optimal underwear make up &ndash; You&rsquo;ll just have to experience them first hand to fully understand.</p>

                    <p>Stay Fresh, Stay Clean, Stay Fly. </p>
                </div>
            </div>
        </div>
    </div>

   <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-sm-2">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="../faq/">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="../contact/">Contact Us</a></li>
                                <li><a href="#">Press</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Legal</h4>
                            <ul>
                                <li><a href="../terms/">Terms of Service</a></li>
                                <li><a href="../privacy">Privacy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Social</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/BirdBriefs">Facebook</a></li>
                                <li><a href="https://twitter.com/birdbriefs">Twitter</a></li>
                                <li><a href="http://instagram.com/birdbriefs/">Instagram</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="joinForm">
                                <form>
                                <h4>Join our email list:</h4>
                                <div class="joinWrapper">
                                    <input type="text" />
                                    <button type="submit" class="btn blue"><i class="fa fa-arrow-right"></i></button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="copyright">&copy; 2014 BirdBriefs. All rights reserved.</span>
    </footer>

    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modalSignInLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalSignInLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="formWrapper">
                            <div class="form-group fieldEmail">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" class="form-control" />
                            </div>
                            <div class="form-group fieldPassword">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" />
                            </div>
                            <button type="submit" class="btn">Sign In <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>

</body>
</html>