<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    <meta name="author" content="">

    <title>Bird Briefs</title>

    <link rel="shortcut icon" href="../images/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Rokkitt:400,700' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.static_root }}js/html5shiv.js"></script>
      <script src="{{ site.static_root }}js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <nav>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <div id="navWrapper">
                                <span class="additional hidden-xs"><a href="../order/">Register</a> | <a href="#" data-toggle="modal" data-target="#modalSignIn">Sign In</a></span>
                                <ul class="nav navbar-nav">
                                    <li class="visible-xs"><a href="../">Home</a></li>
                                    <li><a href="../underwear/">The Underwear</a></li>
                                    <li><a href="../howto/">How to Fly</a></li>
                                    <li id="logo" class="hidden-xs"><a href="../"><span class="sr-only">BirdBriefs</span></a></li>
                                    <li><a href="../order/">Give a Gift</a></li>
                                    <li><a href="#">Our log</a></li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="hero-howto" class="container-fluid section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>How to Fly</h1>
                    <h3>Flying with BirdBriefs is simple. You pay a monthly fee and we&rsquo;ll send you fresh undies quarterly. You can always Pause/Cancel your account too, on the off chance you&rsquo;re feeling TOO fresh.<br /><br />

                    It breaks down like this: You pay BB each month, as soon as we receive your first payment, your BirdBriefs will be in the mail. You&rsquo;ll get your entire quarterly package instantly! As long as your BirdBriefs account is active, we&rsquo;ll continue sending fresh clean boxer-briefs your way. Pause at any time and we'll delay your next shipment until you're ready to fly again.<br /><br />

                    Stay Fresh, Stay Clean, Stay Fly.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="howto" class="container-fluid section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6 step" id="step-select">
                    <span class="icon"></span>
                    <h4>Select Your Class.</h4>
                    <p>Choose of one of our excellent tiers.</p>
                </div>
                <div class="col-sm-3 col-xs-6 step" id="step-policy">
                    <span class="icon"></span>
                    <h4>Flight Policy</h4>
                    <p>No fees, no commitment. Pause or cancel at anytime. Satisfaction guaranteed.</p>
                </div>
                <div class="col-sm-3 col-xs-6 step" id="step-switch">
                    <span class="icon"></span>
                    <h4>Switch Anytime.</h4>
                    <p>You&rsquo;re free to upgrade or downgrage tiers at anytime.</p>
                </div>
                <div class="col-sm-3 col-xs-6 step" id="step-best">
                    <span class="icon"></span>
                    <h4>Feel Your Best.</h4>
                    <p>Rise above the rest and feel your best whilte you soar with BirdBriefs.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2>What are you waiting for?</h2>
                    <a href="../order"class="btn">Take Flight <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="why" class="container-fluid section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Always put on a fresh pair</h2>
                    <h3>New, crisp boxer-briefs delivered to you.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-6 hidden-xs">
                            <img src="../images/boxers-sample.png" />
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <ul>
                                <li id="trips">No store trips</li>
                                <li id="laundry">Less laundry</li>
                                <li id="time">More time</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-sm-2">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="../about/">About</a></li>
                                <li><a href="../faq/">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="../contact/">Contact Us</a></li>
                                <li><a href="#">Press</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Legal</h4>
                            <ul>
                                <li><a href="../terms/">Terms of Service</a></li>
                                <li><a href="../privacy/">Privacy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Social</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/BirdBriefs">Facebook</a></li>
                                <li><a href="https://twitter.com/birdbriefs">Twitter</a></li>
                                <li><a href="http://instagram.com/birdbriefs/">Instagram</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="joinForm">
                                <form>
                                <h4>Join our email list:</h4>
                                <div class="joinWrapper">
                                    <input type="text" />
                                    <button type="submit" class="btn blue"><i class="fa fa-arrow-right"></i></button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="copyright">&copy; 2014 BirdBriefs. All rights reserved.</span>
    </footer>


    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modalSignInLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalSignInLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="formWrapper">
                            <div class="form-group fieldEmail">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" class="form-control" />
                            </div>
                            <div class="form-group fieldPassword">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" />
                            </div>
                            <button type="submit" class="btn">Sign In <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>

</body>
</html>